
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
  }
html,body,#app{
    width:100%;
    height:100%;
    overflow: hidden;
}
  h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
  }
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
 }
  
  section, nav, article, aside, hgroup, header, footer {
      display:block
  }
  /* 清除iphone 内核样式 */
  input[type="submit"],
  input[type="text"],
  input[type="reset"],
  input[type="button"],
  button {
   -webkit-appearance: none;
   border-radius: 0;
  }
  input, textarea, select, button, table {
      font-size:inherit;
      font-family:inherit;
      line-height:inherit;
      margin: 0;
      border: 0;
      box-sizing: border-box;
      outline: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  strong, b {
      font-weight: normal;
  }
  td,th {
    padding: 0;
    text-align: left;
  }
  img, fieldset {
      border:0
  }
  ul, ol,li {
      list-style:none
  }
  i, em, address,b {
      font-style:normal
  }
  a {
      color:inherit;
      text-decoration:none
  }
  img,embed,object,audio,video {
    height: auto;
    max-width: 100%;
  }
  .clearfix::after{
    content:"";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    font-size: 0;
  }
  iframe{
    width: 100%;
    height: 100%;
    border:none;
  }
